timm
deepspeed
data
#einops==0.6.1
ftfy
iopath
ipdb
#numpy==1.24.3
#peft==0.3.0
#Pillow==9.5.0
#PyYAML==6.0
#regex==2022.10.31
#torchvision==0.14.1
#torchaudio==0.13.1
pytorchvideo
fvcore
decord
#tqdm==4.64.1
#transformers==4.29.1
pydantic
pytorch-lightning
h5py
#ipykernel==6.23.1
ipywidgets
hydra-core
biopython
#transformers==4.33.2
peft
fair-esm
rootutils
pyrootutils
#tqdm==4.65.0
#rich==13.5.3
hydra_colorlog
rdkit-pypi==2022.9.5
dive-into-graphs==1.1.0
wandb
#faiss-gpu
faiss-gpu-cu12